<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/images/accept-check-good-mark-ok-tick-svgrepo-com.svg"
    />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/Styles/accepted.css">
    <script defer src="/public/scripts/payment.js"></script>
    <title>PAYMENT ACCEPTED</title>

  </head>
  <body>
    <!-- <h1>Payment Accepted! You can see details</h1> -->
    <div class="container">
      <div>
        <h2 id="text" >
          PAYMENT ACCEPTED!
          <img src="/public/images/accept-check-good-mark-ok-tick-svgrepo-com.svg" alt="TICK LOGO">
        </h2>
      </div>
    </div>
  </body>
</html>
