/* /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

:root{
    --blue:hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBG:  hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line:hsl(215, 32%, 27%);

}

body{
    min-height: 100vh;
    background-color: var(--mainBG);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    height: 46rem;
    width: 25rem;
    background-color: var(--cardBG);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.main{
    width: 22rem;
    height: 22rem;
    border-radius: 1rem;
    margin: 1rem;
}

.text{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 1rem;
    gap: 1rem;
}

.text h2 {
    color: white;
    font-family: 'Outfit', sans-serif;;
}

.text p{
    color: var(--blue);
    font-size: large;
    letter-spacing: 1.5px;
    line-height: 1.7rem;
    /* padding-right: 0.1rem; */
    /*
}

.eth_price{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    gap: 0.5rem;

}

.eth{
    position: relative;
    left: 1.3   rem;
}

.p1 {
    color: var(--cyan);
    position: relative;
    left: -2rem;

}

.clock{
    position: relative;
    left: 2rem;
    width: 1.4rem;
    height: 1.4rem;
}

.p2{
    color: var(--blue);
    position: relative;
    top: 1px;
}

hr{
    position: relative;
    top: 10px;
    width: 21rem;
    opacity: 0.5;
}

button{
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(250, 100, 250);
    color: white;
    position: relative;
    top: 1.5rem;
    transition: 0.5s;
}
button:hover{
    /* opacity: 0.5; */
    /* cursor: pointer; */
    /* transform: rotateX(360deg); */
    /* box-shadow: 0px 1px 15px rgb(250, 100, 250); */
/* } */
/* .avatarSection{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: 2rem;
}
.avatarSection img{
    width: 4rem;
    height: 4rem;
}
.avatarSection p{
  color: aliceblue; 
}

.avatarSection span{
    color: var(--blue);
}

/* EYE FOR LINK HOVER */

/* .opacity{ */
    /* opacity: 0.5; */
/* }   */ 